<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">

<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">


<dom-module id="check-list">
  <template>
    <style>
      :host {
        display: block;
      }
      .task {
        display: flex;
        align-items: center;
      }
      paper-input {
        display: inline-block;
      }
    </style>

    <h1>Mi todo lista</h1>
<!--

  CON EL AS SE DA MAYOR LEGIBILIDAD CON LA LECTURA DEL TEXTO 
  OL OBSERVE SIEMPRE ESTA VIENDO AL OBJETO
-->
    <dom-repeat 
      items="{{tasks}}" 
      as="task" 
      filter="isNotCompleted"
      observe= "completed" 
    >
      <!-- IS LE DICE QUE TIPO DE TEMPLATE USARA -->
      <template is="dom-repeat">
        <div>
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
        </div>
      </template>
    </dom-repeat>


    <h1>Completados</h1>

    <dom-repeat 
      items="{{tasks}}" 
      as="task" 
      filter="isCompleted"
      observe= "completed" 
    >
      <template is="dom-repeat">
        <div>
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input label="task name" no-label-float value="{{task.name}}"></paper-input>
        </div>
      </template>
    </dom-repeat>


    <!-- ESTE ON-CLICK ES DE POLYMER -->
    <paper-button on-click="agregarTask">Buton</paper-button>

  </template>

  <script>
    /**
     * `check-list`
     * Componente para crear una lista
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CheckList extends Polymer.Element {
      static get is() { return 'check-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'check-list'
          },
          // SE AGREGA UNA NUEVA PROPIEDAD LA QUE TIENE UN ARREGLO
          tasks: {
            type: Array,
            value: () => []
          }
        };
      }
      // FUNCION PARA PODER AGREGAR LOS INPUT
      agregarTask(){
        const newTask = {
          name: '',
          completed: false
        };

        this.push('tasks', newTask);
      }

      isNotCompleted(task){
        return !task.completed; // SE INVIERTE EL VALOR COMPLETE
      }

      isCompleted(task){
        return task.completed;
      }
    }

    window.customElements.define(CheckList.is, CheckList);
  </script>
</dom-module>
